# dependencies
dev-template/dev/dep/*
dev-template/release/dep/*
workshop/dep/*

# the git-pip python bits
dev-template/dev/dep/python/get-pip.py
dev-template/release/dep/python/get-pip.py

# the external TD tools
dev/td-modules/tools/releaseVersions/*

# mac files
*.DS_STORE