# dependencies
dev-template/dev/dep/*
dev-template/release/dep/*
workshop/dep/*

# the git-pip python bits
dev-template/dev/dep/python/get-pip.py
dev-template/release/dep/python/get-pip.py

# the external TD tools
dev/td-modules/tools/releaseVersions/*

# ignore the vscode bits
.vscode/*

# ignore the files we put into assets
workshop/assets/*

# mac files
*.DS_STORE